* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "montserrat", sans-serif;
  color: #fff;
  background-image: url(bg-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.container {
  max-width: 1320px;
  padding: 0;
  margin: 0;
}

.header {
  padding: 20px 11px 0px 0px;
  display: flex;
  width: 100%;
}

/* .cloud {
  height: 65%;
  margin-top: 55px;
} */

.weather-icon {
  /* width: 90px;
  height: 60px; */
  position: relative;
  top: 90px;
  right: 110px;
  /* right: 20px; */
  /* height: 50%; */
  /* margin-top: 50px; */
}

.search-container {
  position: relative;
  width: 34%;
  left: 27%;
}

.search-container i {
  position: absolute;
  font-size: 17.7px;
  left: 38px;
  top: 36%;
  pointer-events: none;
  padding-right: 4%;
  color: #bec1d3;
}
#searchBar {
  padding-left: 45px;
  color: #cdd0df;
}
.header input:hover {
  border-color: #9bb6d3;
}

.header input:focus {
  border-color: #9bb6d3;
  outline: none;
}

.search-container input {
  width: 90%;
  padding: 10px;
  background: transparent;
  border: 0;
  color: #f2f2f2;
  outline: 0;
  border: 1px solid #587377;
  border-radius: 20px;
  text-align: start;
  font-size: 18px;
  height: 40px;
}

#search-list {
  /* border: 1px solid #ccc; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: white;
  width: 90%;
  border: 1px solid #587377;
  background: #4c5657;
  position: absolute;
  left: 20px;
  color: #fff;
  border-radius: 10px;
  top: 53px;
}

#search-list li {
  padding: 8px;
  cursor: pointer;
}

#search-list li:hover {
  background-color: #f0f0f0;
}

.city {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  margin-top: 12px;
  /* padding-left: 13%; */
  color: #fff;
  /* margin-left: auto; */
  transform: translate(0, -28%);
  position: absolute;
  left: 75%;
}

.city span {
  color: #cdd0df;
  font-weight: 700;
}

.fa-location-dot {
  color: #cdd0df;
  position: relative;
  left: 35%;
  font-size: 24px;
  padding-top: 7.5px;
  margin-right: 10px;
}
ß
.information {
  /* position: relative;
  left: 23%; */
  width: 100%;
  text-align: end;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 1%;
  top: 4%;
}

.dropdown i {
  font-size: 32px;
  color: #bec1d3;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #898ea6;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a6b6e4;
}

.show {
  display: block;
}

.content {
  display: flex;
  width: 27%;
  /* padding-left: 5%; */
  /* padding-top: 25px; */
  position: relative;
  right: 30%;
  top: 45px;
}

.more-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 65%;
  top: 145px;
  text-align: start;
  width: 25%;
  border: 1px solid #272c3a;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 15px;
}

.days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 50px; */
  padding: 0px 30px 15px 30px;
  /* padding-top: 30px; */
  /* padding-top: 10px; */
  position: relative;
  top: 133px;
  height: 220px;
}

.days-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  /* border: 1px solid #898ea6; */
  border-radius: 15px;
  border: 1px solid #272c3a;
}

.day {
  flex: 1;
  /* width: 40px; */
  text-align: center;
  /* margin: 10px; */
  /* margin-left: 12px; */
  box-sizing: border-box;
  margin-left: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.day:hover {
  background-color: transparent #a6b6e4;
  border: 1px solid #a6b6e4;
  border-radius: 10px;
}

.active {
  background-color: transparent;
  border: 2px solid #a6b6e4;
  border-radius: 10px;
}

.day img {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 12px;
}

.day span {
  margin-bottom: 15px;
}

.dday {
  margin-bottom: 15px;
}

.time .information {
  margin-left: 9%;
}

.time {
  width: fit-content;
  font-size: 16.5px;
  font-weight: 300;
  /* transform: translate(27%, 84%); */
  /* margin-bottom: 9px; */
  color: #fff;
  /* transform: translate(117%, 214%);
  position: absolute;
  left: 0; */
  position: relative;
  left: 90%;
  bottom: 56px;
}

.date {
  width: fit-content;
  font-size: 16.5px;
  font-weight: 300;
  color: #fff;
  position: relative;
  /* top: 45px; */
  bottom: 30px;
  left: 180px;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

.feel {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

.humidity {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

.sunset {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

.sunrise {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

.temp {
  /* font-size: 94px; */
  /* font-weight: 700; */
  /* margin-bottom: 9px; */
  width: fit-content;
  position: relative;
  left: 173px;
  bottom: 77px;
  color: #fff;
  font-size: 88px;
  font-weight: 700;
}

/* .temp h1 {
  font-size: 100px;
  font-weight: 700;
} */

.dropdown-content hr {
  height: 2px;
  margin: 7px 0;
}

.desc {
  font-size: 31.5px;
  font-style: italic;
  color: #fff;
  position: absolute;
  right: 55px;
  top: 200px;
  width: fit-content;
}

.max {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
}

.min {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 100;
  color: #fff;
  padding-bottom: 5px;
}

/* img {
  width: 100%;
  filter: grayscale(50%);
} */
