* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  color: #fff;
  background-image: url(weather\ photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.header {
  padding: 50px 28px 30px 28px;
}

/* .weather {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.weather h1 {
  font-size: 32px;
  color: #a27a38;
  font-weight: 600;
} */

.header input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 0;
  color: #f2f2f2;
  outline: 0;
  border: 1px solid #587377;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}

.city {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
  color: #fff;
}

.temp {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  text-shadow: 1px 5px rgba(0, 0, 0, 1);
  color: #fff;
}

.desc {
  font-size: 70px;
  font-style: italic;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  color: #fff;
}

.minmax {
  font-size: 24px;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* img {
  width: 100%;
  filter: grayscale(50%);
} */
