* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  color: #fff;
  background-image: url(weather\ photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.container {
  max-width: 1320px;
  padding: 0;
  margin: 0;
}

.header {
  padding: 27px 11px 26px 11px;
  display: flex;
  width: 100%;
}

/* .weather {
  padding-left: 18%;
} */

.title {
  width: 19%;
  transform: translate(100%, 0%);
  margin-left: 4%;
}

.main-title {
  font-size: 31px;
  color: #8a7f7f;
  font-weight: 600;
  /* position: absolute;
  right: 0;
  padding-right: 2%; */
}

/* .cloud {
  position: absolute;
  left: 0;
  transform: translate(75%, 279%);
} */

.cloud h1 {
  font-size: 17px;
  color: #fff;
  width: 31px;
  /* float: right; */
  /* transform: translate(-115%, -17%); */
}

.cloudy {
  width: 130px;
  /* position: relative;
  right: 40%;
  bottom: 30%; */
}

.search-container {
  position: relative;
  width: 30%;
  right: 2%;
}

.search-container i {
  position: absolute;
  font-size: 17.7px;
  left: 36px;
  top: 58%;
  transform: translateY(-50%);
  pointer-events: none;
  padding-right: 4%;
  color: #a59a9a;
}
#searchBar {
  padding-left: 45px;
}

.search-container input {
  width: 90%;
  padding: 10px;
  background: transparent;
  border: 0;
  color: #f2f2f2;
  outline: 0;
  border: 1px solid #587377;
  border-radius: 20px;
  text-align: start;
  font-size: 18px;
  height: 40px;
}

.header input:hover {
  border-color: #9bb6d3;
}

.header input:focus {
  border-color: #9bb6d3;
  outline: none;
}

.city {
  width: auto;
  font-size: 19px;
  font-weight: 400;
  margin-top: 12px;
  padding-right: 2.3%;
  padding-left: 4%;
  color: #fff;
}

.city span {
  color: #a59a9a;
}

.city i {
  color: #a59a9a;
  padding-right: 6px;
}

/* .information {
  transform: translate(0, 174%);
  position: absolute;
  left: 23%;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown i {
  font-size: 25px;
  color: #a59a9a;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.more-info {
  display: flex;
  flex-direction: column;
  /* transform: translate(95%, 279%);
  position: absolute;
  left: 0; */
}

.day {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 9px;
  color: #fff;
  /* transform: translate(117%, 214%);
  position: absolute;
  left: 0; */
}

.feel {
  font-size: 18px;
  font-weight: 300;
  /* margin-bottom: 15px; */
  color: #fff;
  /* transform: translate(204%, 135%);
  position: absolute;
  left: 0; */
}

.temp {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 9px;
  /* text-shadow: 1px 5px rgba(0, 0, 0, 1); */
  color: #fff;
  /* margin-bottom: 15px; */
  color: #fff;
  /* transform: translate(212%, 115%);
  position: absolute;
  left: 0; */
}

.desc {
  font-size: 20px;
  font-style: italic;
  /* text-shadow: 1px 5px rgba(0, 0, 0, 0.8); */
  /* margin-bottom: 10px; */
  color: #fff;
  /* transform: translate(82%, 551%);
  position: absolute;
  left: 0; */
}

.minmax {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  /* text-shadow: 1px 5px rgba(0, 0, 0, 0.8); */
  color: #fff;
  /* transform: translate(109%, 666%);
  position: absolute;
  left: 0; */
}

/* img {
  width: 100%;
  filter: grayscale(50%);
} */
